/******** CALENDAR code ********/

$event-bg-color: #4F2980 !default;
$calendar-curved-event: false !default;

.c-calendar {
    overflow-x: auto;
}

    .c-calendar__day-head {
        width: 14%;
        min-width: 8rem;
    }
    .c-calendar__day {
        padding-right: 0;
        padding-left: 0;
        vertical-align: top;
    }
        .c-calendar__day-number {
            font-weight: 500;
            padding: 2px;
            padding-left: 15px;
            margin-bottom: 3px;
        }
        .c-calendar__event {
            background-color: $event-bg-color;
            color: white;
            padding:  {
                top: 2px;
                bottom: 2px;
                left: 0;
                right: 0;
            }
            margin-bottom: 3px;

            a {
                color: white;
                display: inline-block;
                width: 100%;
            }
        }
        .c-calendar__event--first {
            margin-left: 15px;
            padding-left: 4px;
            @if ($calendar-curved-event) {
                border: {
                    top-left-radius: 4px;
                    bottom-left-radius: 4px;
                }
            }
        }
        .c-calendar__event--last {
            margin-right: 15px;
            @if ($calendar-curved-event) {
                border: {
                    top-right-radius: 4px;
                    bottom-right-radius: 4px;
                }
            }
        }
        .c-calendar__event:not(.c-calendar__event--first) {
            a {
                text-decoration: none;
                padding-left: 0;
            }
        }

/*
 1. Allow vertical-align
 */
.c-calendar-title {
    text-align: center;
    margin-bottom: $inuit-global-spacing-unit-small;

    @include mq($from: tablet) {
        display: table; /* [1] */
        table-layout: fixed;
        width: 100%;
    }
}

    .c-calendar-title__item {
        @include mq($from: tablet) {
            display: table-cell; /* [1] */
            vertical-align: middle; /* [1] */
        }
    }


/* Timepicker list fix */
.ui-timepicker-viewport {
    list-style: none;
}
