/******** CALENDAR code ********/

$event-bg-color: #4F2980 !default;

.c-calendar__container {
    overflow-x: auto;
}
.c-calendar__title {
    text-align: center;
}
    .calendar__day-head {
        width: 14%;
        min-width: 8rem;
    }
    .c-calendar__day {
        padding-right: 0;
        padding-left: 0;
        vertical-align: top;
    }
        .c-calendar__day-number {
            font-weight: 500;
            padding-left: 15px;
        }
        .c-calendar__event { // Turn this into mixin
            background-color: $event-bg-color;
            color: white;
            padding:  {
                top: 2px;
                bottom: 2px;
                left: 0;
                right: 0;
            }
            margin-bottom: 3px;

            a {
                color: white;
                display: inline-block;
                width: 100%;
            }
        }
        .c-calendar__event--first {
            margin-left: 15px;
            padding-left: 4px;
        }
        .c-calendar__event--last {
            margin-right: 15px;
        }
        .c-calendar__event:not(.c-calendar__event--first) {
            a {
                text-decoration: none;
                padding-left: 0;
            }
        }
